pip install flask flask-socketio flask-login flask-limiter docker paramiko python-dotenv werkzeug psutil ecdsa requests email-validator pyopenssl cryptography docker paramiko psutil python-dotenv email-validator flask_limiter
